<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dmitryvedmed.taskbook">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Main3Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListTaskActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".TaskActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SettingsActivity"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity
            android:name=".DrawerTestActivity"
            android:label="Заметки"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".AppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_info" />
        </receiver>

        <service
            android:name=".WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            ></service>
    </application>

</manifest>